
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="yandex-verification" content="b3e0dd2b89997115" />
	<title>{{ settings.meta_title }}</title>
    <meta name="keywords" content="{{ settings.meta_keywords }}">
    <meta name="description" content="{{ settings.meta_description }}">
	<link rel="stylesheet" type="text/css" href="/static/css/onepage-scroll.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/css.css?v=0003" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/static/js/jquery.onepage-scroll.min.js"></script>
	<script type="text/javascript" src="/static/js/js.js?v=0005"></script>
</head>
<body>
	<div class="main">
	    <section class="page1">
	    	<div class="address">
	    		{{ settings.address_in_header | safe }}
	    	</div>
	    	<div class="services">
	    		ХИМЧИСТКА | СТИРКА | ГЛАЖКА
	    	</div>
	    	<div class="logo">
	    		<img src="/static/images/logo.png">
	    	</div>
	    	<div class="phones">
	    		{{ settings.phone1 }}<br />
	    		{{ settings.phone2 }}
	    	</div>
	    	<div class="truck">
	    		<img src="/static/images/truck.png">
	    	</div>
	    	<div class="shipping">
	    		ЗАБЕРЕМ И ПРИВЕЗЕМ НА ДОМ
	    	</div>
	    	<div class="price">
	    		<a href="{{ settings.price_list.url }}" target="_blank">Скачать НАШИ ЦЕНЫ</a>
	    	</div>
	    	<div class="arrow">
	    		<a href="#"><img src="/static/images/arrow.png"></a>
	    	</div>
	    </section>
	    <section class="page2">
	    	<div class="right-align">
		    	<div class="top-panel">
		    		<div class="info">
		    			Экологичная итальянская<br />
						технология деликатной<br />
						химчистки
		    		</div>
		    		<div class="top-btn">
		    			<a href="#">Наверх</a>
		    		</div>
		    		<div class="clear"></div>
		    	</div>
		    	<div class="discount">
		    		<img src="/static/images/discount.png">
		    	</div>
		    	<div class="discount-info">
		    		СКИДКА НА ДЕТСКУЮ ОДЕЖДУ*
		    	</div>
		    	<div class="discount-detail">
		    		*До 38-го размера. См. НАШИ ЦЕНЫ -{{ settings.discount }}%
		    	</div>
		    	<div class="phone-form-label">
		    		Оставьте ваш номер телефона и мы перезвоним
		    	</div>
		    	<form class="phone-form">
		    		{{ phone_form.phone }}
		    		<button class="screen2-form-button">Отправить</button>
		    	</form>
		    	<div class="error-validate-phone"></div>
		    	<div class="phone-input-comment">
		    		* Отправляя форму, вы соглашаетесь на обработку персональных данных
		    	</div>
		    	<div class="info mt-3vh">
		    			Ручная чистка<br />
						сложных тканей,<br />
						сумок и обуви
		    	</div>
		    	<div class="clear"></div>
	    	</div>
	    	<div class="arrow">
		    		<a href="#"><img src="/static/images/arrow.png"></a>
		    </div>
	    </section>
	     <section class="page3">
	     	<div class="top-btn mt-15vh">
		    	<a href="#">Наверх</a>
		    </div>
	    	<div class="center-container">
	    		<div class="screen3-header">
	    			Сотрудничаем с орагнизациями
	    		</div>
	    		<ul class="org-type-list">
	    			<li>- Ресторанами</li>
	    			<li>- Кафе и кофейнями</li>
	    			<li>- Гостиницами</li>
	    			<li>- Пансионатами</li>
	    			<li>- Домами Культуры<br>и многими другими...</li>
	    		</ul>
	    		<div class="phone-form-label">
		    		Напишите требования и e-mail
		    	</div>
		    	<form class="phone-form">
		    		{{ callback_form.email }}
		    		<div class="error-validate-email"></div>
		    		<br><br>
		    		{{ callback_form.message }}
		    		<div class="error-validate-message"></div>
		    	</form>
		    	<div class="phone-input-comment">
		    		* Отправляя форму, вы соглашаетесь на обработку персональных данных
		    	</div>
		    	<div>
		    		<button class="screen3-form-button">Отправить</button>
		    	</div>
	    	</div>
	    	<div class="footer">
	    		&copy;Mychistka.ru 2018-1019<br />
	    		{{ settings.address_in_footer }}, тел: <span> {{ settings.phone1 }} | {{ settings.phone2 }}</span>
	    	</div>
	    </section>
  	</div>
</body>
</html>