@font-face{
	font-family: Din2014Reular;
    src: url("fonts/11965.otf") format("opentype");
}

@font-face{
	font-family: Din2014Bold;
    src: url("fonts/11954.otf") format("opentype");
}

@font-face{
	font-family: Din2014DemiBold;
    src: url("fonts/11956.otf") format("opentype");
}

@font-face{
	font-family: Din2014ExtraBold;
    src: url("fonts/11958.otf") format("opentype");
}


.clear {
	clear: both;
}

.page1 {
	background: url('../images/background1.png');
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.page2 {
	background: url('../images/background2.jpg');
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.page3 {
	background: url('../images/background3.png');
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.address {
	font-family: Din2014Reular;
	/*font-size: 1.200em;*/
	font-size: 2.5vh;
	/*margin-top: 11px;*/
	margin-top: 1.5vh;
	margin-left: 75px;
	background: url('../images/map_icon.png') no-repeat;
	background-position: right, center;
	display: inline-block;
	padding-right: 35px;
	background-size: 8%;
}

.services {
	text-align: center;
	/*font-size: 1.500em; /36px/ */
	font-size: 3.1vh;
	font-family: Din2014Reular;
	/*margin-top: 2%;*/
	margin-top: 2vh;
}

.logo {
	text-align: center;
	/*margin-top: 1%;*/
	margin-top: 2vh;
}

.logo img  {
	height: 15vh;
}

.phones {
	/*font-size: 3.000em; 72px*/
	font-size: 6vh;
	font-family: Din2014Bold;
	text-align: center;
	/*margin-top: 1%;*/
	margin-top: 2vh;
}

.truck {
	/*margin-top: 1%;*/
	margin-top: 2vh;
	text-align: center;
}

.truck img {
	height: 11vh;
}

.shipping {
	font-family: Din2014DemiBold;
	/*font-size: 1.500em;*/
	font-size: 3.1vh;
	text-align: center;
	/*margin-top: 1%;*/
	margin-top: 2vh;
}

.price {
	/*margin-top: 2%;*/
	margin-top: 2vh;
	font-family: Din2014Bold;
	/*font-size: 1.500em;*/
	font-size: 3.1vh;
	text-align: center;
}

.price a {
	color: black;
}

.arrow {
	/*margin-top: 3%;*/
	margin-top: 2vh;
	text-align: center;
}

.arrow img {
	height: 5vh;
}


/*screen 2*/

.right-align {
	margin-left: 37vw;
}

.top-panel {
	margin-top: 1.5vh;
}

.info {
	font-family: Din2014DemiBold;
	font-size: 3.2vh;
	color: #636e8b;
	float: left;
}

.top-btn {
	float: right;
	font-family: Din2014Reular;
	font-size: 3vh;
	margin-right: 1vw;

}

.top-btn a {
		color: black;
}

.discount {
	margin-top: 2.5vh;
}

.discount img {
	height: 14vh;
}

.discount-info {
	font-family: Din2014ExtraBold;
	font-size: 4.5vh;
	margin-top: 1vh;
}

.discount-detail {
	font-family: Din2014Regular;
	font-size: 3vh;
}

.phone-form-label {
	font-family: Din2014Bold;
	font-size: 4vh;
	margin-top: 4vh;
}

.phone-form input, .phone-form textarea {
	font-family: Din2014Regular;
	font-size: 4vh;
	height: 6vh;
	width: 30vw;
}

.phone-form button {
	background-color: #636e8b;
	border: none;
	color: white;
	font-family: Din2014Bold;
	font-size: 3vh;
	height: 6.5vh;
	position: relative;
	top: -4px;
	left: -5px;
}

.phone-input-comment {
	font-family: Din2014DemiBold;
	font-size: 2vh;
	color: #737373;
}

.mt-3vh {
	margin-top: 3vh;
}

/*end screen 2*/

/*screen 3*/
.center-container {
	max-width: 780px;
	margin: 1.5vh auto 0 auto;
}

.screen3-header {
	font-family: Din2014DemiBold;
	font-size: 4.5vh;
}

.mt-15vh {
	margin-top: 1.5vh;
}

.org-type-list {
	list-style-type: none;
}

.org-type-list li {
	font-family: Din2014Regular;
	font-size: 3vh;
}
.phone-form textarea {
	height: 13vh;
}
.screen3-form-button {
	background-color: #636e8b;
    border: none;
    color: white;
    font-family: Din2014Bold;
    font-size: 3vh;
    height: 6.5vh;

}

.footer {
	font-family: Din2014Regular;
	font-size: 2.5vh; 
	margin-left: 20px;
	position: absolute;
	bottom: 15px;
}

.footer span {
	text-decoration: underline;
}
/*end screen 3*/


button {
	cursor: pointer;
}

.error-validate-phone, .error-validate-email, .error-validate-message {
	font-family: Din2014DemiBold;
	font-size: 2vh;
	color: red;
	display: none;
}

@media screen and (orientation: portrait) {
	.address {
		font-size: 2vh;
		padding-right: 60px;
	}

	.logo img  {
		height: auto;
	}

	.services {
		margin-top: 7vh;
	}

	.phones, .truck, .shipping {
		margin-top: 5vh;
	}

	/*screen 2*/
	.right-align {
		margin-left: 60px;
	}
	.discount {
		margin-top: 3.5vh
	}
	.discount img {
		height: 20vh;
	}
	.discount-info {
		font-size: 6vw;
		margin-top: 3vh;
	}
	.discount-detail {
		font-size: 4.5vw;
	}
	.phone-form-label {
		font-size: 4vw;
	}
	.phone-form input, .phone-form textarea {
		width: 62vw;
	}
	/*end screen 2*/

	/*screen 3*/
	.screen3-header {
		font-size: 6vw;
	}
	.page3 input, .page3 textarea {
		width: 80vw;
	}
	/*end screen 3*/
}